<% visitor = notification.visitor %>  <!-- 通知を送ったユーザー -->
<% visited = notification.visited %>  <!-- 通知を受け取ったユーザー -->

<div class="col-md-10 mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to user_path(visitor) do %>
        <strong><%= visitor.name %></strong>
      <% end %>
      さんが
    </span>

    <% case notification.action %>
      <% when 'follow' then %>
        あなたをフォローしました。  

      <% when 'favorite' then %>
        <% if notification.road_condition.present? %>
          <%= link_to road_condition_path(notification.road_condition) do %>
            <strong>
              <%= notification.road_condition.road_name %>
            </strong>
          <% end %>
        <% else %>
          <span>報告が削除されたか、無効な通知です。</span>
        <% end %>
        を確認しました。

      <% when 'comment' then %>
        <span>
          <% if notification.road_condition.present? %>
            <%= link_to road_condition_path(notification.road_condition, anchor: "comment-#{notification.comment_id}") do %>
              <strong>
                <% if notification.road_condition.user_id == visited.id %>
                  <%= notification.road_condition.road_name %>
                <% else %>
                  <%= notification.road_condition.user.name %>さんの報告
                <% end %>
              </strong>
            <% end %>
          <% else %>
            <span>報告が削除されたか、無効な通知です。</span>
          <% end %>
        </span>
        <%= "にコメントしました。" %>

<% when 'comment_favorite' then %>
  <% if notification.comment_id.present? && notification.road_condition.present? %>
    <span>
      <%= link_to road_condition_path(notification.road_condition, anchor: "comment-#{notification.comment_id}") do %>
        <%= "あなたのコメント" %>
      <% end %>
      を確認しました。
    </span>
  <% else %>
    <span>コメントが削除されたか、無効な通知です。</span>
  <% end %>
  <% end %>

    <!-- コメント内容 -->
    <% if notification.comment_id.present? %>
      <p class="text-muted mb-0">
        <%= link_to Comment.find_by(id: notification.comment_id)&.comment, road_condition_path(notification.road_condition, anchor: "comment-#{notification.comment_id}"), style: "text-decoration: none;" %>
      </p>
    <% end %>
  </div>

  <!-- 通知の時間表示 -->
  <div class="small text-muted text-end">
    <%= time_ago_in_words(notification.created_at).upcase %>前
  </div>
  <hr>
</div>
