<!DOCTYPE html>
<html>
  <head>
    <title>SafeRoads</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div><%= link_to root_path, class: "text-white nav-link" do %>SafeRoads<% end %></div>
      <div><%= link_to "トップ", root_path, class: "text-white nav-link" %></div>
      <div><%= link_to "報告する", new_road_condition_path, class: "text-white nav-link" %></div>
      <div><%= link_to "報告一覧", road_conditions_path, class: "text-white nav-link" %></div>
    </header>
    <%= yield %>
  </body>
</html>