<!DOCTYPE html>
<html>
  <head>
    <title>SafeRoads</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <% if user_signed_in? %>
      <header>
        <div class="header-title">
          <%= link_to root_path, class: "text-white nav-link" do %>
            <img src="<%= asset_path('logo-h.png') %>" alt="ロゴ" class="logo" >
          <% end %>
        </div>
        <!-- ハンバーガーメニューボタン -->
        <button class="hamburger-menu" id="js-hamburger-menu">
          <span class="hamburger-bar"></span>
          <span class="hamburger-bar"></span>
          <span class="hamburger-bar"></span>
        </button>
        <!-- ナビゲーションメニュー -->
        <nav class="navigation">
          <div class="text-white">こんにちは！<%= current_user.name %>さん</div>
          <div>
            <%= link_to notifications_path, class: "text-white nav-link" do %>
            <img src="<%= asset_path('icon.png') %>" alt="通知アイコン"  class="notification-icon" >
            (<%= current_user.unchecked_notifications_count || 0 %>)
            <% end %>
          </div>
          <div><%= link_to "報告一覧", road_conditions_path, class: "text-white nav-link" %></div>
          <div><%= link_to "報告する", new_road_condition_path, class: "text-white nav-link" %></div>
          <div><%= link_to "下書き一覧", confirm_road_conditions_path, class: "text-white nav-link" %></div>
          <div><%= link_to "ユーザ一覧", users_path, class: "text-white nav-link" %></div>
          <div><%= link_to "マイページ", user_path(current_user.id), class: "text-white nav-link" %></div>
          <div><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-white nav-link" %></div>
        </nav>
      </header>
    <% end %>
    <%= yield %>
  </body>
</html>
